body {
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background-color: #f8f8f8;
    }

    .header {
      background-image: url('');
      background-size: cover;
      background-position: center;
      color: white;
      padding: 60px 20px;
      text-align: right;
    }